<ion-header [translucent]="true">
    <ion-toolbar color="black">
        <ion-title start>Aufgaben</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card color="white">
        <div (click)="switchHide()">
            <ion-item color="cyan" lines="none">
                <ion-card-title color="white">{{title}}</ion-card-title>
                <ion-buttons slot="end">
                    <button (click)="switchHide()" style="background-color: #24dbc6">
                        <ion-icon name="pencil" color="light"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-item>
            <br>

            <ion-item color="white" lines="none">
                {{subtitle}}
            </ion-item>
            <br>

            <ion-item color=white lines="full">
                <ion-label position="stacked">Abgabedatum: </ion-label>
                <ion-datetime display-format="DD.MM.YYYY HH:mm" readonly [(ngModel)]="endDate"></ion-datetime>
            </ion-item>

            <!--
            <ion-item color="white" lines="full">
                <span slot="start">
                    <ion-icon name="calendar"></ion-icon>
                    <ion-datetime display-format="DD.MM.YYYY HH:mm" minute-values="0,15,30,45" readonly [(ngModel)]="endDate" [min]="minDate"
                      [max]="maxData"> </ion-datetime>
                    <ion-icon name="navigate-outline" color="success" style="font-size: 20px"> </ion-icon>
                </span>
                <span slot="end">
                Herr Müller
                <ion-icon name="happy-outline"></ion-icon>
                </span>
            </ion-item>
            -->
        </div>

        <div *ngIf="!hideContent">
            <ion-card-content>
                <ng-container *ngFor="let eq of eqs.mode; let i = index">
                    <ng-container *ngIf="eq == 0; else katex">
                        {{eqs.text[i]}}
                    </ng-container>
                    <ng-template #katex>
                        <ng-katex [equation]="eqs.text[i]"></ng-katex>
                    </ng-template>
                </ng-container>
            </ion-card-content>

            <ion-item color="white" href="/something.pdf">
                <ion-label routerLink="/tabs/tab3" color="black">something.pdf</ion-label>
            </ion-item>
        </div>

    </ion-card>

    <ion-card>
        <ion-item color="primary" button (click)="send()">
            <ion-label color="black">Aufgabe senden</ion-label>
        </ion-item>
    </ion-card>
    <ion-grid>
        <ion-row>
            <ion-col size="6"
                     *ngFor="let photo of photoService.photos; index as position">
                <ion-img src="{{ photo.base64 ? photo.base64 : photo.webviewPath }}">
                </ion-img>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">

        <ion-fab-button (click)="photoService.addNewToGallery()">
            <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
